@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#root{
  min-height: 100vh;
}
html,body {
  height:100%;
}
body{
  background-color: black;
}

.search-input{
  background-color: rgb(42, 47, 60);
  padding: 1rem;
  /* border-width:0 1px;
  border-left-color:#0DCAF0;
  border-right-color: #0DCAF0; */
  width: 10rem;
}
.search-input-lg{
  width:100%;
}

/* .search-form{
  container-type: inline-size;
} */

@media (min-width: 1580px){
  .search-input-container{
    flex-direction:row;
    gap:0rem;
  }
}